<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="main">
        
        <div class="nav">
            <div  class="logo">
                <a class="nav_a" href="/">Flask</a>
            </div>
            <div class="nav_item">
                <a class="nav_a" href="/">Головна</a>
                <a class="nav_a nav_a_last" href="/chat">Чат</a>
            </div>
        </div>

        <div class="chat_main">
            <div class="chat_answer">
                <img class="chat_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg6SlMzO5dPH9AThA886HVcTeMhMhc6XFA_Q&s" alt="ai картинка">
                <p class="chat_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laboriosam quos animi saepe molestiae modi consectetur nam quam, illum deserunt? Nostrum et corporis fu 
                </p>
            </div>
            <div class="user_question">
                <div class="msg_user">
                    
                    <p class="chat_text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima explicabo ipsam corporis ratione voluptas dolorum veniam illo, esse eum quasi dolor, qui cumque aspernatur perspiciati 
                    </p>
                    <img class="chat_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg6SlMzO5dPH9AThA886HVcTeMhMhc6XFA_Q&s" alt="ai картинка">
                </div>
               
             
            </div>
            <div class="chat_answer">
                <img class="chat_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg6SlMzO5dPH9AThA886HVcTeMhMhc6XFA_Q&s" alt="ai картинка">
                <p class="chat_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laboriosam quos animi saepe molestiae modi consectetur nam quam, illum deserunt? Nostrum et corporis fu 
                </p>
            </div>
        </div>

    </div>

</body>
</html>