<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="main">
        
        <div class="nav">
            <div  class="logo">
                <a class="nav_a" href="/">Flask</a>
            </div>
            <div class="nav_item">
                <a class="nav_a" href="/">Головна</a>
                <a class="nav_a nav_a_last" href="/chat">Чат</a>
            </div>
        </div>

        <div >


        </div>

    </div>

</body>
</html>